/*=============== VARIABLES CSS ===============*/


:root {

    //colors
    --white-color: #FFFFFF;
    --dark-color: #1c1c1c;
    --bg-color: #1c1c1c;
    --main-pur:#5546FF;
    --main-orange: #FF4C00;
    --main-green:#BFFF0A;
    --main-pink:#FF7BCA;
    --main-gray: #ECEDEF;
    --main-white: #ffffff;
    --bg-footer:#1c1c1c;
    
    //font
    --body-font: "Travels";
    --big-font: 'Humane Bold';
    //font-size
    --h1-special: 2.8em;
    --h1-font: 2.2em;
    --h2-font: 3em;
    --h3-font: 1.5em;
    --h3-sepical-font: 2.25em;
    --regular-font: 1em;
    --second-font: 1.5em;
    --20-font:1.3em;
    --font-128:15em;
    --big-text:30em;

    @include mq(desktop, max) {
        --h1-special: 2.5em;
        --big-text:20em;
    }
    @include mq(tablet-wide, max) {
        --h1-special: 2em;
        --h1-font: 2em;
        --h2-font: 1.3em;
        --h3-font: 1.1em;
        --h3-sepical-font: 2em;
        --20-font:1.2em;
        --font-128:3em;
        --second-font: 1em;
        --big-text:15em;
        --font-128:9em;
    }
    @include mq(phablet, max) {
        --h1-special: 1.9em;
        --h1-font: 1.6em;
        --h2-font: 1.5em;
        --h3-font: 1em;
        --h3-sepical-font: 1.3em;
        --font-128:2em;
        --second-font: 1em;
        --big-text:10em;
        --20-font:1.1em;
        --font-128:9em;
    }

    // @include mq-height("tablet", max) {
    //     // Your styles here
    //     --big-text:26em;

    // }
    


}