.section-about {
    background:var(--main-green);
    padding: 100px 0px;
    text-align: center;
    border-top: 1px solid black;

    h2 {
        font-family: 'Muller';
        font-size: 46px;
        font-weight: 700;

        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        font-family: 'Muller';
        // font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }
}