
//Humane


@font-face {
    font-family: 'Humane Bold';
    src: url('../fonts/humane/Humane-Bold.ttf') format('truetype'),
        url('../fonts/humane/Humane-Bold.woff') format('woff'),
        url('../fonts/humane/Humane-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'Travels';
    src: url('../fonts/travels/Travels-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Travels';
    src: url('../fonts/travels/Travels-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Travels';
    src: url('../fonts/travels/Travels-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Travels';
    src: url('../fonts/travels/Travels-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}