#map {
    height: 150px;
}
.footer {
    overflow: hidden;
    position: relative;
    .super-text {
        position: absolute;
        opacity: 0.2;
        font-size: 18em;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    &__container {
        background:var(--main-orange);
        position: relative;
    }
    &__nav {
        position: relative;
        z-index: 20;
        padding: 60px;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items:center;

            a {
                color:var(--main-white);
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
    &__wrapp {
        justify-content: space-between;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        ul {
            flex-wrap: wrap;
            gap: 10px;
            li {
                a {
                    color:var(--main-white);
                    text-transform: uppercase;
                }
            }
            li::after {
                content:'/';
                color:var(--main-white);
                margin-left: 5px;
            }
        }
        
        p {
            color:var(--main-white);
            text-transform: uppercase;
        }
    }
    &__column {
        gap: 10px;
    }
}
.button-up {
    display: block;
    float: right;
    color:var(--main-orange);   
    cursor: pointer;
    padding: 16px 20px;
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(68, 68, 68, 0.212);
}

@include mq(tablet, max) {
    .footer {
        &__wrapp {
            flex-wrap: wrap;
            flex-direction: column;
            gap: 30px;
        }

        .contact,
        .nav-footer,
        .contact-2 {
            width: 100%;
        }
    }
}

@include mq(tablet, min) {
    .button-up.scroll-top_down {
        position: fixed;
        right: 16px;
        bottom: 16px;
        z-index: 1000;
        transition: all 0.5s ease-in-out;
    }
    .button-up.scroll-top_up {
        position: fixed;
        right: 16px;
        bottom: 16px;
        z-index: 1000;
        transition: all 0.5s ease-in-out;
    }
    .button-up {
        @include hover {
            transform: scale(1.1);
            transition: all 0.3s ease;
        }
    }
    .footer {
        a {
            @include hover {
                color:var(--main-green);
            }
        }
    }
}

@include mq(tablet-wide, max) {
    .footer {
        .super-text {
            font-size: 14em;
        }
        &__nav {
            padding: 60px 20px;
            ul {
                flex-direction: column;
                align-items:center;
                gap: 30px;
            }
        }
        &__wrapp {
            flex-direction: column;
            text-align: center;
            gap: 15px;
            align-items:center;
            padding: 20px;
            ul {
                justify-content: center;
                
            }
        }
    }
}