
.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    padding-top: 30px;
    &__nav {
        ul {
            display: flex;
            justify-content: space-between;
            align-items:center;

            a {
                color:var(--main-white);
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}

.header-black {
    background:var(--bg-color);
    position: relative;
}


@include mq(tablet, max) {
    .nav {
        display: none;
    }
}