.hero {
    position: relative;
    overflow: hidden;
    z-index: 10;
    height: 100vh;
    // background:var(--main-pur);
    display: flex;
    align-items:center;
    padding-top: 38px;
    h1 {
        color:var(--main-white);
        text-transform: uppercase;
        font-size: var(--second-font);
        font-weight: 500;
        width: 50%;
        text-align: center;
    }
   
    &__container {
        display: flex;
        flex-direction: column;
        align-items:center;
        // justify-content: space-between;
        // height: 100%;
        position: relative;
    }
    &__link {
        position: absolute;
        left: 50%;
        bottom: 10px;
   }
}
.section-hero {
  padding-top: 100px;
  p {
    color:var(--main-white);
  }
  h1 {
    color:var(--main-white);
  }
  &__container {
    justify-content: space-between;
  }
}
.super-text {
    color: var(--main-white);
    text-transform: uppercase;
    // padding-top: 4rem;
    font-family: var(--big-font);
    font-size: var(--big-text);
    font-weight: 800;
    line-height: .8;

    span {
        display: inline-block;
    }
}
.background {
  position: absolute;
  top: 0;
  left: 0%;
  width: 0%;
  height: 100%;
  background-color: var(--main-pur);
  z-index: -1;
}
.container_mouse {
    text-align: center;
    color: var(--main-orange);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .container_mouse .mouse-btn {
    width: 25px;
    height: 40px;
    border: 2px solid var(--main-white);
    border-radius: 30px;
    display: flex;
  }
  
  .container_mouse .mouse-btn .mouse-scroll {
    display: block;
    width: 15px;
    height: 15px;
    background: var(--main-orange);
    border-radius: 50%;
    margin: auto;
    animation: scrolling 1.2s linear infinite;
  }
  
  
  @keyframes scrolling {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(10px);
    }
  }

  @include mq(tablet-wide, max) { 
    .hero {
      padding-top: 68px;
      h1 {
        width: 100%;
      }
    }
  }