.hero {
    position: relative;
    overflow: hidden;
    z-index: 10;
    height: calc(100svh - 97px);
    background:var(--main-pur);
    display: flex;
    align-items:center;
    
    h1 {
        color:var(--main-white);
        text-transform: uppercase;
        font-size: var(--second-font);
        font-weight: 500;
        width: 50%;
        text-align: center;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items:center;
        // justify-content: space-between;
        // height: 100%;
        position: relative;
    }
    &__link {
        position: absolute;
        left: 50%;
        bottom: 10px;
   }
}
.super-text {
    color: var(--main-white);
    text-transform: uppercase;
    // padding-top: 4rem;
    font-family: var(--big-font);
    font-size: var(--big-text);
    font-weight: 800;
    line-height: .8;

    span {
        display: inline-block;
    }
}