.map-section {
    // height: 350px;
    h2 {
      font-family: 'Travels';
      font-size: 52px;
      font-weight: 700;
      line-height: 109%;
      text-transform: uppercase;
      margin-bottom: 20px;
      color:#fff;
  }
}

#map {
  height: 300px;
  
}
.ymaps-2-1-79-ground-pane {
  filter: grayscale(100%);
}
// .ymaps-2-1-79-svg-icon {
//   /* Ваши стили для отметки */
//   filter: none;
// }

@include mq(tablet-wide, min) {
  .map-section {
    &__row {
        @include hover {
            opacity: 1;
            transition: all 0.3s ease;
        }
    }
    &__social {
       @include hover {
            opacity: 1;
            transition: all 0.3s ease;
       }
    }
  }
}

  @include mq(tablet-wide, max) {
    .map-section {
      &__info {
        flex-direction: column;
        gap: 30px;
      }
    }
  }