.section-plus {
    padding-bottom: 100px;
    &__wrapp {
        justify-content: space-between;
        gap: 60px;
    }
    &__title {
        font-size: var(--h2-font);
        font-weight: 800;
        text-transform: uppercase;
        color:var(--main-white);
    }
    &__text {
        color:var(--main-white);
        text-transform: uppercase;
        font-size: 12px;
        width: 75%;
        line-height: 140%;
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex: 1 0;
    }
    .title-pur {
        color: var(--main-pur);
    }
    .title-orange {
        color: var(--main-orange);
    }
    .title-green {
        color: var(--main-green);
    }
    .title-pink {
        color: var(--main-pink);
    }
}
.section-pay {
    .section-service__list {
        width: 100%;
    }
}
@include mq(tablet-wide, max) { 
    .section-plus {
        &__wrapp {
            flex-direction: column;
        }
        &__block {
            text-align: center;
            align-items:center;
        }
        &__text {
            width: 90%;
        }
    }
}