.section-service {
    background: var(--main-pur);
    padding: 100px 0px;
    color:var(--main-white);
    &__wrapp {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        width: 40%;
        img {
            display: block;
            width: 100%;
            height: auto;
            border-radius:15px;
        }
    }
    &__list {
        width: 55%;

        .accordion-wrapp {
            width: 100%;
            margin-left: 0;
        }
        .accordion {
            &__title {
                border-bottom: 1px solid rgb(255 255 255);
                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 33.75L33.75 11.25' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M15.4688 11.25H33.7499V29.5312' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
                }
            }
            &__body {
                background:#4136bc;
                color:var(--main-white);
            }
        }
    }
}
.section-service-link {
    background: var(--main-pur);
    padding: 100px 0px;
    color:var(--main-white);

    &__wrapp {
        display: flex;
        flex-direction: column;
    }
    &__link {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        align-items:center;
        border-bottom:1px solid var(--main-white);
        padding: 20px 0px;
        transition: all 0.3s ease-in-out;
        font-size: var(--h3-font);
        text-transform: uppercase;
        color:var(--main-white);
        p:nth-child(1) {
            width: 55%;
        }
        p:nth-child(2) {
            width: 20%;
        }
    }
}
.section-service-about {
    background: var(--main-pur);
    padding: 100px 0px;
    color:var(--main-white);
    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    &__block {
        display:flex;
        justify-content:space-between;
        gap: 30px;
    }
    &__content {
        width:65%;
    }
    &__title {
        width: 25%;
    }
}
@include mq(tablet-wide, min) {
    .section-service-link {
        &__link {
            @include hover {
                padding-right: 20px;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
@include mq(tablet-wide, max) {
    .section-service-about {
        &__block {
            flex-direction: column;
        }
        &__title {
            width: 100%;
        }
        &__content {
            width: 100%;
        }
    }
    .section-service-link {
        &__link {
            gap: 15px;
            p:nth-child(1) {
                width: 65%;
            }
            p:nth-child(2) {
                width: 30%;
            }
        }
    }
    .section-service{
        &__wrapp {
            flex-direction: column;
            gap: 40px;
        }
        &__img {
            width: 100%;
        }
        &__list {
            width: 100%;
        }
    }
}