.all-service {
    &__container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,300px);
    }
    &__link {
        position: relative;
        overflow: hidden;
    }
    &__link--1 {
        background:var(--main-pink);
    }
    &__link--5 {
        background:var(--main-green);
    }
    &__link--6 {
        background:var(--main-white);
    }
    &__img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        img {
            display: block;
           width: 100%;
           height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        padding: 40px;
        width: 100%;
        height: 100%;
        h2 {
            font-family: 'Muller';
            text-transform: uppercase;
            font-weight: 600;
        }
        .title-black {
            color:var(--dark-color);
        }
        .title-white {
            color:var(--white-color);
        }
    }
    &__bg {
        display: block;
        position: absolute;
        height: 100%;
        object-fit: cover;
        right: -10%;
        bottom:-20%;
        z-index: 0;
    }
    &__bg--5 {
        height: 80%;
        right: 0;
        bottom:-10px;
    }
    &__bg--6 {
        height: 85%;
        right: -18%;
        bottom:-15px;
    }
}