.section-works {
    padding: 100px 0px;
    h2 {
        font-family: 'Travels';
        font-size: 52px;
        font-weight: 700;
        line-height: 109%;
        text-transform: uppercase;
        margin-bottom: 60px;
        color:#ffff;
    }
}