extends layout/app

block page 
    include chunk/header-black
    main.main
        section.section-404
            .container.section-404__container
                .section-404__card 
                    h1 404
                    p Ой, кажется, что-то пошло не так!
                    p Страница, которую вы ищете, не найдена. Возможно, она была удалена или перемещена.   
                    a(href="./index.html").main-button-white Главная страница 

    include chunk/footer

