extends layout/app

block page 
    include chunk/header-black
    main.main
        section.section-hero.section-contact-hero
            .container
                h1 Контакты
    - var footerClass = 'contact-page'
    include chunk/footer

