extends layout/app

block page 
    include chunk/header
    main.main
        section.hero 
            .background
            .container.hero__container 
                .hero__title.super-text 
                    span C
                    span O
                    span M
                    span P
                    span U
                    span T
                    span E
                    span X
                h1  Ваш Надежный 
                    span Партнер 
                    | в Мире Качественной Печати
            a(href="#id-service").hero__link.container_mouse
                span.mouse-btn
                    span.mouse-scroll
                //- svg(width="31" height="40" viewBox="0 0 31 59" fill="none" xmlns="http://www.w3.org/2000/svg")
                //-     rect(x="1" y="1" width="28.09" height="57" rx="14.045" stroke="white" stroke-width="2")
                //-     circle(cx="15" cy="40" r="10" fill="#FA5B18")                        
        section.all-service(id='id-service') 
            .all-service__container 
                a(href="").all-service__link.all-service__link--1
                    .all-service__info
                        img(src="./img/card.png" alt="").all-service__bg.all-service__bg--1
                        h3.title-black полиграфия
                a(href="").all-service__link.all-service__link--2
                    .all-service__img 
                        img(src="./img/print-img-2.jpeg" alt="")
                    .all-service__info
                        h3.title-white оперативный печатный центр
                a(href="").all-service__link.all-service__link--5
                    .all-service__info
                        img(src="./img/pen.png" alt="").all-service__bg.all-service__bg--5
                        h3.title-black сувениры и промо продукция
                a(href="").all-service__link.all-service__link--3
                    .all-service__img 
                        img(src="./img/print-img-3.jpg" alt="")
                    .all-service__info
                        h3.title-white услуги дизайна
                a(href="").all-service__link.all-service__link--6
                    .all-service__info
                        img(src="./img/tab.png" alt="").all-service__bg.all-service__bg--6
                        h3.title-black стенды и таблички
                a(href="").all-service__link.all-service__link--4
                    .all-service__img 
                        img(src="./img/print-img-4.jpg" alt="")
                    .all-service__info
                        h3.title-white наружная реклама             
        section.section-about 
            .container.section-about__container
                .section-about__text.flex.text-sub
                    h2 Наши
                        br
                        | Преимущества
                    p Индивидуальный подход к каждому заказу! Мы создаем печатные решения, отражающие вашу уникальность.
                a(href="./contact.html").main-button-dark Контакты
                .section-about__info 
                    ul 
                        li
                            span.number 01
                            h3 Современное оборудование
                            p регулярная модернизация техники и работа на новейших принтерах и плоттерах.
                        li
                            span.number 02
                            h3 Качественные материалы 
                            p Используем только проверенные расходные материалы, всегда в наличии широкий выбор для бесперебойного производства.
                        li
                            span.number 03
                            h3 Профессиональная команда
                            p В штате дизайнеры, полиграфисты и печатники с большим опытом работы.
                        li
                            span.number 04
                            h3 Соблюдение сроков и оперативная печать
                            p Отлаженные рабочие процессы позволяют оперативно принимать срочные заказы.
        include chunk/reference
        include chunk/works
        include chunk/section-contact
    include chunk/footer

