extends layout/app

block page 
    include chunk/header
    main.main
        section.hero 
            .container.hero__container 
                .hero__title.super-text 
                    span.super-text__span c
                    span.super-text__span o
                    span.super-text__span m
                    span.super-text__span p
                    span.super-text__span u
                    span.super-text__span t
                    span.super-text__span e
                    span.super-text__span x
                h1  Ваш Надежный Партнер в Мире Качественной Печати
            a(href="").hero__link
                svg(width="31" height="40" viewBox="0 0 31 59" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(x="1" y="1" width="28.09" height="57" rx="14.045" stroke="white" stroke-width="2")
                    circle(cx="15" cy="40" r="10" fill="#FA5B18")                        
        section.all-service 
            .all-service__container 
                a(href="").all-service__link.all-service__link--1
                    h2 полиграфия
                a(href="").all-service__link.all-service__link--2
                    h2 оперативный печатный центр
                a(href="").all-service__link.all-service__link--3
                    h2 услуги дизайна
                a(href="").all-service__link.all-service__link--4
                    h2 наружная реклама
                a(href="").all-service__link.all-service__link--5
                    h2 сувениры и промо продукция
                a(href="").all-service__link.all-service__link--6
                    h2 стенды и таблички
        section 
            .container 
                h2 О нас
                p Рекламное агентство в Гомеле «Компьютекс» предоставляет весь ассортимент услуг в областиполиграфии,наружной рекламы,изготовления стендов в Гомеле, реализовывает любые идеи на продукции сувенирного характера. Благодаря многолетнему опыту специалисты нашей компании подскажут Вам самые выгодные варианты подачи рекламы.
                p Мы гарантируем не только оригинальное дизайнерское решение, но и высокое качествопродукции, ведь именно от него зависит, произведет ли реклама вашей организации должный эффект.
                p Опытные дизайнеры помогут Вам разработать индивидуальный фирменный стиль посредством разработки макетов для наружной рекламы, полиграфической продукции и бизнес-сувениров, что играет значимую роль в повседневной жизни.
        include chunk/map
    include chunk/footer

