extends layout/app

block page 
    include chunk/header-black
    main.main
        section.text-sub.section-hero
            .container.section-hero__container
                .text-sub__wrapp.flex
                    h1 Стенды и таблички под любой запрос
                    p Создайте яркий и информативный стенд или табличку с нашим печатным центром. Мы обеспечим качественные материалы и точность в каждом заказе.
                a(href="./contact.html").main-button-white контакты 
                img(src="./img/stand.png" alt="").section-hero__img
        section.section-plus 
            .container 
                .section-plus__wrapp.flex 
                    .section-plus__block
                        span.section-plus__title.title-pur 1 - 2
                        span.section-plus__text дня печать сложных заказов
                    .section-plus__block 
                        span.section-plus__title.title-orange 300+ 
                        span.section-plus__text видов продукции
                    .section-plus__block 
                        span.section-plus__title.title-green >1000 
                        span.section-plus__text довольных клиентов
                    .section-plus__block 
                        span.section-plus__title.title-pink 100%
                        span.section-plus__text контроль качества и гарантии
        include chunk/service-info

    include chunk/footer

