footer.footer 
  include chunk/section-contact
  .footer__container
    span.super-text computex
    nav.footer__nav.flex.container
      ul 
        li 
          a(href="./pay-page.html") оплата
        li 
          a(href="./portfolio.html") портфолио
        li 
          a(href="./index.html#id-service") услуги
        li 
          a(href="./contact.html") Контакты
  div#map
  .footer__wrapp.container.flex
    p computex 2024 - коплексные решения  
    .footer__column.flex
      ul.flex
        li 
          a(href="./") кондиционеры
        li
          a(href="./") сервисный центр
        li
          a(href="./") печатный центр
script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")    
script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
script(src="js/main.js")
