header.header 
    .container 
        nav.nav.header__nav
            ul 
                li
                    a(href="") Услуги
                li
                    a(href="") О компании
                li
                    a(href="") 
                        img(src="./img/logo-computex.svg", alt="")
                li
                    a(href="") Для бизнеса
                li 
                    a(href="") Контакты