header.header.header-black
    .container 
        .header__mobile-logo
            a(href="./index.html") 
                img(src="./img/logo-computex.svg" alt="")
            .burger 
                span 
                span 
                span
        nav.nav.header__nav
            ul 
                li
                    a(href="./index.html#id-service") Услуги
                li
                    a(href="./portfolio.html") Портфолио
                li
                    a(href="./index.html") 
                        img(src="./img/logo-computex.svg", alt="")
                li
                    a(href="./pay-page.html") Оплата
                li 
                    a(href="./contact.html") Контакты