section.reference
    .container 
        h2 Вопросы
        .accordion-wrapp
            .accordion
                .accordion__title 
                    h3 Какой стандартный размер визитки?
                .accordion__body 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum fuga aliquam pariatur temporibus illum aliquid saepe sunt a sapiente quibusdam libero delectus facere tempore cupiditate reiciendis atque mollitia, sequi id!
            .accordion
                .accordion__title 
                    h3 В каком формате вам предоставлять макет?
                .accordion__body 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum fuga aliquam pariatur temporibus illum aliquid saepe sunt a sapiente quibusdam libero delectus facere tempore cupiditate reiciendis atque mollitia, sequi id!
            .accordion
                .accordion__title 
                    h3 Вы работаете по предоплате?
                .accordion__body 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum fuga aliquam pariatur temporibus illum aliquid saepe sunt a sapiente quibusdam libero delectus facere tempore cupiditate reiciendis atque mollitia, sequi id!