section.section-service-link
    .container 
        .text-sub.flex
            h2 Подробности услуги
            p Наша компания предлагает полный спектр полиграфических услуг, которые подчеркнут ваш бренд и помогут достичь ваших целей. Мы гарантируем высокое качество и индивидуальный подход к каждому проекту.
        .section-service-link__wrapp.flex
            a(href="./service-page.html").section-service-link__link
                p Календари для вашего бренда на заказ
                p от 20 р.
                svg(width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M11.25 33.75L33.75 11.25" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M15.4688 11.25H33.7499V29.5312" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
            a(href="#").section-service-link__link
                p Печать визиток
                p от 20 р.
                svg(width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M11.25 33.75L33.75 11.25" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M15.4688 11.25H33.7499V29.5312" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
            a(href="#").section-service-link__link
                p Печать буклетов
                p от 20 р.
                svg(width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M11.25 33.75L33.75 11.25" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M15.4688 11.25H33.7499V29.5312" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
