section.section-service-about 
    .container 
        .section-service-about__wrapp 
            .section-service-about__block
                .section-service-about__title 
                    h3.service-about-title 
                        | О сервисе
                .section-service-about__content 
                    .section-service-about__text 
                        p.service-about-text.inner-content
                        | Сервис для поиска и анализа информации о компаниях, их владельцах и руководителях. Сервис позволяет пользователям получать данные о компаниях, их владельцах и руководителях, а также анализировать их финансовую и юридическую историю.
            .section-service-about__block
                .section-service-about__title 
                    h3.service-about-title 
                        | О сервисе
                .section-service-about__content 
                    .section-service-about__text 
                        p.service-about-text.inner-content
                        | Сервис для поиска и анализа информации о компаниях, их владельцах и руководителях. Сервис позволяет пользователям получать данные о компаниях, их владельцах и руководителях, а также анализировать их финансовую и юридическую историю.