section.section-works 
    .container 
        h2 Наши
            br
            | работы
        a(href="").main-button-white все работы 
        .section-works__grid 
            .section-works__block 
            a(href="./img/work1.png").section-works__block(data-fancybox="gallery")
                img(src="./img/work1.png", alt="")
            a(href="./img/work1.png").section-works__block(data-fancybox="gallery")
                img(src="./img/work1.png", alt="")
            a(href="./img/work1.png").section-works__block(data-fancybox="gallery")
                img(src="./img/work1.png", alt="")
            a(href="./img/work1.png").section-works__block(data-fancybox="gallery")
                img(src="./img/work1.png", alt="")
            .section-works__block
    img(src="./img/green-ring.svg", alt="").section-works__img